*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primary-color{
    color: rgb(255, 166, 43);
}

.bg-secondary-color{
    background-color: rgb(54, 59, 56);
}

.bg-primary-color{
    background-color: rgb(255, 166, 43);
}


.activeClassName{
    background-color: rgb(255,166,43);
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 768px){

    .activeClassName::before{
        position: absolute;
        top: -45%;
        left: -15%;
        background-color: rgb(255,166,43);
        z-index: -1;
        content: '';
        width: calc(100% + 50px);
        height: calc(100% + 200px);
        transform: rotate(-13deg);
    }
    
}