
.team-card{
    background-color: #fff;
    transition: .4s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.team-card:hover{
    background-color: rgb(255, 166, 43);
}
.team-card:hover p{
    color: #fff;
}


.team-social{
    position: absolute;
    top: 50%;
    left: -50%;
    z-index: 1;
    transform: translateY(-50%);
    transition: .4s;
}

.team-card:hover .team-social{
    left: 6%;
}


.team-social .team-social-icon{
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #333;
    transition: .4s;
    border-radius: 50%;
    color: #fff;
    display: grid;
    place-items: center;
}

.team-social .team-social-icon:hover{
    background-color: rgb(255,166,43);
    color: #fff;
}